.contact-container{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #d0d3d4;
    flex-direction: column;
    /* border: 1px solid white; */
}
.contact-name{
    font-size: 40px;
    margin: 20px 0px;
    font-weight: 600;
    letter-spacing: 2px;
    /* border: 1px solid white; */
}
.contact-con{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 75%;
    width: 80%;
    /* border: 1px solid white; */
}
.contact-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
    width: 50%;
    /* border: 1px solid white; */
}

.contact-input{
    height: 45px;
    width: 30vw;
    padding: 0px 15px;
    appearance: none;
	border: none;
	outline: none;
	border-bottom: 3px solid #5b21b6;
	background: #cbc4d4;
	border-radius: 5px 5px 0px 0px;
	/* padding: .4em; */
	color: #040404;
    font-weight: 600;
    /* font-size: 15px; */

}
.contact-input::placeholder{
    color: #434343;
}
.contact-input:focus{
    outline: none;
    border: none;
    border-radius: 10px;
    box-shadow: #5b21b6 0px 1px 4px, #5b21b6 0px 0px 0px 3px;
}
.contact-btn{
    padding: 12px 32px;
    font-size: 16px;
    border: none;
    font-weight: 500;
    background-color: transparent;
    border-radius: 7px;
    color: white;
    letter-spacing: 2px;
    cursor: pointer;
    box-shadow: #5b21b6 2px 3px 10px -1px inset;
}
.contact-btn:hover{
    transform: scale(1.05);
}
.contact-info{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    height: 70%;
    width: 60%;
    margin-bottom: 90px;
    /* border: 1px solid white; */
}
.contact-item-mail{
    width: 17vw;
    height: 75px;
    background-color: transparent;
    display: flex;
    border: 2px solid #5b21b6;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    font-size: 18px;
    position: relative;
    
}
.contact-item-icon{
    height: 70px;
    width: 70px;
    position: absolute;
    top: -40px;
    left: 35%;
    /* background-color: #35a8f4; */
    padding: 10px;
    /* border-radius: 50%; */
    /* border: 1.5px solid white; */
}
.contact-item-link{
    font-size: 14px;
    color: white;
    text-decoration: none;
}

@media screen and (max-width : 1115px) {
    .contact-con{
        width: 90%;
    }
    .contact-info{
        width: 60%;
    }
    .contact-item-mail{
        width: 20vw;
        height: 75px;
    }
    .contact-item-link{
        font-size: 12px;
    }
}

@media screen and (max-width : 900px) {
    .contact-container{
        height: 130vh;
        width: 100vw;
    }
    .contact-con{
        height: 90%;
        width: 90%;
        flex-direction: column;
    }
    .contact-info{
        height: 50%;
        width: 80%;
        margin: 30px 0px;
    }
    .contact-item-mail{
        width: 28vw;
        height: 75px;
    }
    .contact-item-link{
        font-size: 13px;
    }
    .contact-form{
        height: 60%;
        width: 80%;
        margin-bottom: 30px;
    }
    .contact-input{
        height: 45px;
        width: 90%;
        padding: 0px 15px;
    
    }
}

@media screen and (max-width : 680px) {
    .contact-info{
        height: 50%;
        width: 80%;
        margin: 30px 0px;
    }
    .contact-name{
        font-size: 35px;
        margin: 20px 0px;
        font-weight: 600;
        letter-spacing: 1px;
    }
    .contact-item-mail{
        width: 32vw;
        height: 75px;
    }
    .contact-item-link{
        font-size: 12px;
    }
    .contact-form{
        height: 60%;
        width: 80%;
        margin-bottom: 30px;
    }
    .contact-input{
        height: 45px;
        width: 90%;
        padding: 0px 15px;
    }
    .contact-item-icon{
        height: 60px;
        width: 60px;
        top: -35px;
    }
}

@media screen and (max-width : 680px) {
    .contact-container{
        height: 100vh;
        width: 100vw;
    }
    .contact-info{
        height: 40%;
        width: 80%;
        margin: 30px 0px;
    }
    .contact-item-mail{
        width: 33vw;
        height: 58px;
    }
    .contact-item-link{
        font-size: 10px;
    }
    .contact-form{
        height: 60%;
        width: 80%;
        margin-bottom: 30px;
    }
    .contact-input{
        height: 40px;
        width: 90%;
        padding: 0px 15px;
    }
    .contact-item-icon{
        height: 50px;
        width: 50px;
        top: -30px;
    }
    .contact-btn{
        padding: 9px 25px;
        font-size: 14px;
        border: none;
        font-weight: 500;
        background-color: transparent;
        border-radius: 7px;
        color: white;
        letter-spacing: 2px;
        cursor: pointer;
        box-shadow: #5b21b6 2px 3px 10px -1px inset;
    }
    .contact-btn:hover{
        transform: scale(1.05);
    }
}
@media screen and (max-width : 680px) {
    .contact-container{
        height: 100vh;
        width: 100vw;
    }
    .contact-info{
        height: 40%;
        width: 90%;
        margin: 30px 0px;
    }
    .contact-item-mail{
        width: 38vw;
        height: 58px;
    }
    .contact-item-link{
        font-size: 9px;
    }
    .contact-form{
        height: 60%;
        width: 80%;
        margin-bottom: 30px;
    }
    .contact-input{
        height: 40px;
        width: 90%;
        padding: 0px 15px;
    }
    .contact-item-icon{
        height: 50px;
        width: 50px;
        top: -30px;
        left: 33%;
    }
    .contact-btn{
        padding: 9px 28px;
        margin-top: 20px;
        font-size: 14px;
        border: none;
        font-weight: 500;
        background-color: transparent;
        border-radius: 7px;
        color: white;
        letter-spacing: 2px;
        cursor: pointer;
        box-shadow: #5b21b6 2px 3px 10px -1px inset;
    }
    .contact-btn:hover{
        transform: scale(1.05);
    }
}