footer{
    width: 100vw;
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #5b21b6;
    color: white;
    font-size: 18px;
    font-weight: 500;
    z-index: 20;
}
@media screen and (max-width : 900px) {
    footer{
        height: 10vh;
        font-size: 15px;
    }
}
@media screen and (max-width : 480px) {
    footer{
        height: 10vh;
        font-size: 13px;
    }
}