.home-background{
    width: 100vw;
    height: 100vh;
    overflow: scroll;
    position: absolute;
    left: 0;
    top: 0;
}
.home-background::-webkit-scrollbar{
    display: none;
}
.video-container {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-color: #040015;
  }
  

  
  