@keyframes hideIcon{
    0%{
        opacity: 0;
        transform: translateY(40px);
    }
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}
.nav-container {
  position: fixed;
  bottom: 35px;
  left: 38.5vw;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 50px;
  width: 25vw;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 20px;
  box-shadow: 0 2px 5px #141414;
  backdrop-filter: blur(1px);
  -webkit-backdrop-filter: blur(5px);
  border: 2px solid #3498DB;
  color: #d0d3d4;
  font-size: 18px;
  padding: 5px;
  animation: hideIcon 2s ease-in-out;
}

.nav-container i{
    transition: transform 0.3s ease-out;
    transition: color 0.2s ease-in-out;
    padding: 5px;
}

.nav-container i:hover{
    cursor: pointer;
    transform: translateY(-3px);
    color: #3498DB;
}

