@keyframes hideIcon {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
.nav-container {
  position: fixed;
  top: 10px;
  left: 20.5vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 55px;
  width: 60vw;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 25px;
  box-shadow: 0 2px 5px #141414;
  backdrop-filter: blur(1px);
  -webkit-backdrop-filter: blur(5px);
  border: 2px solid #d0d3d4;
  padding: 5px 20px;
  animation: hideIcon 2s ease-in-out;
  z-index: 1;
}
.nav-logo {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 0px 0px 0px -10px;
}
.nav-link {
  width: 40%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.nav-container i {
  transition: transform 0.3s ease-out;
  transition: color 0.2s ease-in-out;
  padding: 5px;
  color: #d0d3d4;
  font-size: 20px;
}

.nav-container i:hover {
  cursor: pointer;
  transform: translateY(-3px);
  color: #5b21b6;
}

@media screen and (max-width: 950px) {
  .nav-link {
    width: 50%;
  }
}
@media screen and (max-width: 650px) {
  .nav-link {
    width: 100%;
  }
  .nav-logo {
    display: none;
  }
  .nav-container {
    position: fixed;
    top: 88vh;
    left: 26.5vw;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 50px;
    width: 50vw;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 25px;
    box-shadow: 0 2px 5px #141414;
    backdrop-filter: blur(1px);
    -webkit-backdrop-filter: blur(5px);
    border: 2px solid #d0d3d4;
    padding: 5px 20px;
    animation: hideIcon 2s ease-in-out;
    z-index: 1;
  }
  .nav-container i {
    transition: transform 0.3s ease-out;
    transition: color 0.2s ease-in-out;
    padding: 5px;
    color: #d0d3d4;
    font-size: 17px;
  }
}
@media screen and (max-width: 400px) {
  .nav-link {
    width: 100%;
  }
  .nav-logo {
    display: none;
  }
  .nav-container {
    position: fixed;
    top: 86vh;
    left: 10vw;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 50px;
    width: 80vw;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 25px;
    box-shadow: 0 2px 5px #141414;
    backdrop-filter: blur(1px);
    -webkit-backdrop-filter: blur(5px);
    border: 2px solid #d0d3d4;
    padding: 5px 20px;
    animation: hideIcon 2s ease-in-out;
    z-index: 1;
  }
  .nav-container i {
    transition: transform 0.3s ease-out;
    transition: color 0.2s ease-in-out;
    padding: 5px;
    color: #d0d3d4;
    font-size: 17px;
  }
}
