.profile-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 30px;
  position: relative;
  overflow: hidden;
  background-color: #040015;
  z-index: 1;
}
.home-vdo {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: -320px;
  left: 0;
  rotate: 180deg;
  z-index: -1; 
}
.profile-logo {
  width: 50vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: profileImage 2.5s ease-in-out;
}
.profile-img {
  width: 70%;
  height: 70%;
  margin: 30px 0px 0px 50px;
}

.profile-content {
  width: 50vw;
  height: 100vh;
  text-align: center;
  position: relative;
  z-index: 1;
  margin-top: 50px;
}
h2 {
  font-size: 50px;
}
@keyframes shake {
  0%,
  100% {
    transform: rotate(0deg);
  }
  20%,
  60% {
    transform: rotate(-15deg);
  }
  40%,
  80% {
    transform: rotate(15deg);
  }
}

.shake-animation {
  display: inline-block;
  animation: shake 1s infinite;
  margin: 0px 0px 15px 0px;
}
.profile-text-div {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-direction: column;
  color: #ffffff;
  height: 60vh;
  margin: 40px 0px 20px 80px;
  animation: textHide 2s ease-in-out;
}
@keyframes textHide{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}
.profile-text-div h2 {
  letter-spacing: 4px;
}
.profile-text-hi {
  display: flex;
  width: 150px;
  justify-content: space-between;
  align-items: center;
}
.profile-text-full{
  overflow: hidden; 
  border-right: 1px solid orange; 
  white-space: nowrap; 
  margin: 0 auto; 
  letter-spacing: .15em; 
  animation: 
    typing 5s steps(50, end) ,
    blink-caret .75s step-end infinite;
}

.profile-buttons {
  display: flex;
  width: 80%;
  margin: 0px 0px 0px 90px;
  justify-content: space-between;
  align-items: center;
  animation: textHide 2.5s ease-in-out;
}
.profile-btn {
  border: none;
  border-radius: 12px;
  padding: 13px 45px;
  cursor: pointer;
  background: transparent;
  box-shadow: #5b21b6 0px 5px 25px -1px inset;
}
.profile-btn:hover {
  box-shadow: #5b21b6 0px 10px 20px -1px inset, #5b21b6 0px 6px 15px -1px inset;
  transform: scale(1.05);
}
.profile-btn-link {
  color: #d0d3d4;
  font-size: 15px;
  text-decoration: none;
  font-weight: 600;
  letter-spacing: 1.5px;
}

@keyframes profileImage {
  0% {
    opacity: 0;
    transform: translateX(40px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}
@keyframes profileBtn {
  0% {
    opacity: 0;
    transform: translateX(-40px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes typing {
  from { width: 0 }
  to { width: 105% }
}


@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange; }
}


@media screen and (max-width : 1115px) {
  .profile-text-div h2 {
    letter-spacing: 4px;
    font-size: 35px;
  }
  .profile-img {
    width: 80%;
    height: 80%;
    margin: 30px 0px 0px 50px;
  }
}
@media screen and (max-width : 955px) {
  .profile-text-div h2 {
    letter-spacing: 2px;
    font-size: 30px;
  }
  .profile-img {
    width: 90%;
    height: 90%;
    margin: 30px 0px 0px 50px;
  }
  .profile-text-div {
    height: 60vh;
    margin: 40px 0px 20px 50px;
  }
  .profile-text-hi {
    width: 80px;
  }
  .profile-buttons {
    width: 80%;
    margin: 0px 0px 0px 50px;
  }
  .profile-btn {
    border-radius: 10px;
    padding: 13px 35px;
    box-shadow: #5b21b6 0px 5px 25px -1px inset;
  }
  .profile-btn-link {
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 1px;
  }
  .profile-text-full{
    overflow: hidden; 
    border-right: 1px solid orange; 
    white-space: nowrap; 
    margin: 0 auto; 
    letter-spacing: .15em; 
    animation: 
      typing 5s steps(50, end),
      blink-caret .75s step-end infinite;
  }
  @keyframes typing {
    from { width: 0 }
    to { width: 87% }
  }
}
@media screen and (max-width : 750px) {
  .profile-text-div h2 {
    letter-spacing: 1px;
    font-size: 25px;
  }
  .profile-img {
    width: 95%;
    height: 95%;
    margin: 30px 0px 0px 30px;
  }
  .profile-text-div {
    height: 45vh;
    margin: 130px 0px 20px 50px;
  }
  .profile-text-hi {
    width: 60px;
  }
  .profile-buttons {
    width: 70%;
    margin: 0px 0px 0px 30px;
  }
  .profile-btn {
    border-radius: 10px;
    padding: 8px 25px;
    box-shadow: #5b21b6 0px 5px 25px -1px inset;
  }
  .profile-btn-link {
    font-size: 10px;
    font-weight: 500;
    letter-spacing: 1px;
  }
  @keyframes typing {
    from { width: 0 }
    to { width: 93% }
  }
}
@media screen and (max-width : 650px) {
  .profile-text-div h2 {
    letter-spacing: 1px;
    font-size: 38px;
  }
  .profile-img {
    width: 95%;
    height: 95%;
    margin: 30px 0px 0px 30px;
    display: none;
  }
  .profile-text-div {
    height: 55vh;
    margin: 130px 0px 20px 50px;
  }
  .profile-text-hi {
    width: 70px;
  }
  .profile-buttons {
    width: 100%;
    margin: 0px 0px 0px 70px;
  }
  .profile-btn {
    border-radius: 10px;
    padding: 10px 28px;
    box-shadow: #5b21b6 0px 2px 15px -1px inset;
  }
  .profile-btn-link {
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 1px;
  }
  .profile-text-full{
    animation: 
      typing 3s steps(50, end),
      blink-caret .75s step-end infinite;
  }
  .home-vdo {
    top: -340px;
  }
  @keyframes typing {
    from { width: 0 }
    to { width: 83vw }
  }
}
@media screen and (max-width : 480px) {
  .profile-text-div h2 {
    letter-spacing: 1px;
    font-size: 30px;
  }
  .profile-img {
    width: 95%;
    height: 95%;
    margin: 30px 0px 0px 30px;
    display: none;
  }
  .profile-text-div {
    height: 50vh;
    margin: 130px 0px 20px 20px;
  }
  .profile-text-hi {
    width: 70px;
  }
  .profile-buttons {
    width: 65vw;
    margin: 0px 0px 0px 30px;
  }
  .profile-btn {
    border-radius: 10px;
    padding: 10px 28px;
    box-shadow: #5b21b6 0px 2px 15px -1px inset;
  }
  .profile-btn-link {
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 1px;
  }
  .profile-text-full{
    animation: 
      typing 3s steps(50, end) ,
      blink-caret .75s step-end infinite;
  }
  @keyframes typing {
    from { width: 0 }
    to { width: 69vw }
  }
}
@media screen and (max-width : 370px) {
  .profile-text-div h2 {
    letter-spacing: 1px;
    font-size: 25px;
  }
  .profile-img {
    width: 95%;
    height: 95%;
    margin: 30px 0px 0px 30px;
    display: none;
  }
  .profile-text-div {
    height: 50vh;
    margin: 150px 0px 20px 10px;
  }
  .profile-text-hi {
    width: 70px;
  }
  .profile-buttons {
    width: 75vw;
    margin: -10px 0px 0px 10px;
  }
  .profile-btn {
    border-radius: 10px;
    padding: 10px 28px;
    box-shadow: #5b21b6 0px 5px 15px -1px inset;
  }
  .profile-btn-link {
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 1px;
  }
  .profile-text-full{
    animation: 
      typing 3s steps(50, end) ,
      blink-caret .75s step-end infinite;
  }
  @keyframes typing {
    from { width: 0 }
    to { width: 80vw }
  }
  .home-vdo {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: -375px;
    left: 0;
    rotate: 180deg;
    z-index: -1; 
  }
  .shake-animation {
    margin: 0px 0px 10px 0px;
    font-size: 5px;
  }
}